/* Basic button */
.common-create-wave-by-wizard, .create-wave, .create-wave-by-wizard, .add-block-button, .manage-participants-form button, .delete-from-wave, .selectBox.button-like, a.button-like, .wave-share-button, .show-more-participants, .mention-recipient-popup button, .task-recipient-popup button, :not(.range-menu) > .button,
.settings-section {
	background: linear-gradient(#F5F5F5,#F1F1F1) !important;
	box-shadow: none !important;
	outline: none !important;
	border: 1px solid rgba(0,0,0,0.1) !important;
	border-radius: 2px !important;
	color: #444 !important;
	text-shadow: none !important;
}

/* Basic button hover state */
.common-create-wave-by-wizard:enabled:hover, .create-wave:enabled:hover, .create-wave-by-wizard:enabled:hover, .add-block-button:enabled:hover, .manage-participants-form button:hover, .delete-from-wave:enabled:hover, .wave-share-button:enabled:hover, .show-more-participants:enabled:hover, .selectBox.button-like:not(.selectBox-disabled):hover, a.button-like:hover, .mention-recipient-popup button:enabled:hover, .task-recipient-popup button:enabled:hover, :not(.range-menu) > .button:enabled:hover,
.settings-section:hover {
	background: linear-gradient(#F8F8F8,#F1F1F1) !important;
	box-shadow: none !important;
	border-color: #C6C6C6 !important;
	color: #444 !important;

}
/* Basic button active state */
.common-create-wave-by-wizard:enabled:active, .create-wave:enabled:active, .create-wave-by-wizard:enabled:active, .add-block-button:enabled:active, .manage-participants-form button:active, .delete-from-wave:enabled:active, .wave-share-button:enabled:active, .show-more-participants:enabled:active, .selectBox.button-like:not(.selectBox-disabled):active, a.button-like:active, .mention-recipient-popup button:enabled:active, .task-recipient-popup button:enabled:active, :not(.range-menu) > .button:enabled:active,
.settings-section:active {
	background: linear-gradient(#EEE,#E0E0E0) !important;
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.1) !important;
	border-color: #CCC !important;
}
/* Basic button focus state */
.common-create-wave-by-wizard:focus, .create-wave:focus, .create-wave-by-wizard:focus, .add-block-button:focus, .manage-participants-form button:focus, .delete-from-wave:focus, .selectBox.button-like:focus, a.button-like:focus, .wave-share-button:focus, .show-more-participants:focus, .mention-recipient-popup button:focus, .task-recipient-popup button:focus, :not(.range-menu) > .button:focus {
	border: 1px solid #4D90FE !important;
}

/* Icons inside buttons */
button:hover .lock {
	-webkit-filter: brightness(0.4) !important;
}
.settings-section .show-settings-button {
	-webkit-filter: saturate(0) !important;
}

/* New wave/wizard button container */
.new-topic-buttons {
	border: 0 none transparent !important;
}
.create-wave {
	   border-top-right-radius: 0 !important;
	border-bottom-right-radius: 0 !important;
}
.create-wave-by-wizard {
	   border-top-left-radius: 0 !important;
	border-bottom-left-radius: 0 !important;
	margin-left: -1px !important;
}


/* Wave panel gear button container (made to look like a button) */
.settings-section {
	margin-top: 0 !important;
}
/* Wave panel gear button */
.settings-section .show-settings-button {
	height: 19px !important;
	box-sizing: content-box !important;
	background-clip: content-box !important;
	border-style: solid !important;
	border-color: transparent !important;
	border-width: 7px 0 6px 6px !important;
	margin: -1px !important;
}


/* Search button */
.search-icon {
	background-color: #4D90FE !important;
	background: linear-gradient(#4D90FE,#4787ED) !important;
	border: 1px solid #3079ED !important;
	color: white !important;
	
	right: 0 !important;
	top: 0 !important;
	border-radius: 0 2px 2px 0 !important;
}
.search-icon::before {
	content:"";
	position: absolute;
	top: 7px;
	left: 10px;
	width: 13px;
	height: 13px;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAANCAYAAABy6+R8AAAAqElEQVQoz52RMQ7CQBADlzR5Be1F/CQFJwq+BH+howsN5AmQhj9QB8qchgIjncJdFGFpG1vetbxmAuCBFnhqWsBbDsCODwLQaYK4fcqwlngHVhFfiePnomIEoEosdNLasdAD3UT0K9DHXGHzUOTiuYl4l7HgoyLcyPAtop6qfABumkHcA9gCZcq4UdSXnnsG6uglTdKYaa8ETv8aGxmPi5mVmy4czGz5BkZfFPlpZXZNAAAAAElFTkSuQmCC);
}
.search-icon:hover {
	background-color: #357AE8 !important;
	background: linear-gradient(#4D90FE,#357AE8) !important;
	border-color: #2F5BB7 !important;
	box-shadow: 0 1px 1px rgba(0,0,0,0.1) !important;
}
.search-icon:active {
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.3) !important;
}
.search-icon:focus {
	box-shadow: inset 0 0 1px 0 white !important;
}
/* The search button for the WEG Loader for Rizzoma extension */
.insert-gadget-container .search-icon {
	height: 30px !important;
}

/* Red buttons */
/*.common-create-wave-by-wizard, .create-wave, .create-wave-by-wizard,*/ .ctm-create-topic {
	background-color: #D14836 !important;
	background-image: -webkit-linear-gradient(top, #DD4B39, #D14836) !important;
	background-image:         linear-gradient(top, #DD4B39, #D14836) !important;
	border: 1px solid transparent !important;
	color: white !important;
	text-shadow: none !important;
	font-weight: bold !important;
}
/*.common-create-wave-by-wizard:hover, .create-wave:hover, .create-wave-by-wizard:hover,*/ .ctm-create-topic:hover {
	background-color: #C53727 !important;
	background-image: -webkit-linear-gradient(top, #DD4B39, #C53727) !important;
	background-image:         linear-gradient(top, #DD4B39, #C53727) !important;
	border-color: #B0281A !important;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.2) !important;
	        box-shadow: 0 1px 1px rgba(0,0,0,0.2) !important;
}
/*.common-create-wave-by-wizard:active, .create-wave:active, .create-wave-by-wizard:active,*/ .ctm-create-topic:active {
	background-color: #B0281A !important;
	background-image: -webkit-linear-gradient(top, #DD4B39, #B0281A) !important;
	background-image:         linear-gradient(top, #DD4B39, #B0281A) !important;
	border-color: #992A1B !important;
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3) !important;
	        box-shadow: inset 0 1px 2px rgba(0,0,0,0.3) !important;
}
/*.common-create-wave-by-wizard:focus, .create-wave:focus, .create-wave-by-wizard:focus,*/ .ctm-create-topic:focus {
	-webkit-box-shadow: inset 0 0 0 1px white !important;
	        box-shadow: inset 0 0 0 1px white !important;
}
/* New wave button and shadow button shown with new wave wizard */
/*.common-create-wave-by-wizard, .create-wave, .create-wave-by-wizard, .ctm-create-button {
	text-transform: uppercase !important;
}*/
/* Shadow button only */
/*.ctm-create-button {
	text-shadow: none !important;
	font-size: 12px !important;
}*/
/* Magic wand icon */
/*.wizard-icon {
	background-image: url('/s/img/8903d1e6.wizard-light.png') !important;
	-webkit-filter: brightness(1.2) !important;
}*/

/* Green unread buttons */
.search .global-next-unread {
	margin-top: -30px !important;
	border-radius: 2px !important;
}
.search .global-next-unread:enabled:not(.disabled), .right-tools-panel .next-unread-blip:enabled:not(.disabled), .right-tools-panel .read-all:not(.disabled), .right-tools-panel .read-all-button:not(.disabled) {
	background-image: linear-gradient(#A1DA3E, #9CD42E) !important;
	border-color: #98C49F !important;
	box-shadow: none !important;
	outline: none !important;
}
.search .global-next-unread:enabled:not(.disabled):hover , .right-tools-panel .next-unread-blip:enabled:not(.disabled):hover , .right-tools-panel .read-all:not(.disabled):hover, .right-tools-panel .read-all-button:not(.disabled):hover {
	background-image: linear-gradient(#A3DC41, #94CB25) !important;
	border-color: #72BA14 !important;
	box-shadow: 0 1px 1px rgba(0,0,0,0.1) !important;
}
.search .global-next-unread:enabled:not(.disabled):active, .right-tools-panel .next-unread-blip:enabled:not(.disabled):active, .right-tools-panel .read-all:not(.disabled):active, .right-tools-panel .read-all-button:not(.disabled):active {
	background-image: linear-gradient(#A1DA3E, #94CB25) !important;
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.3) !important;
}

/* Search box drop-down menus */
.task-list-query-container .task-filter, .search-query-container .topic-filter {
	left: 2px !important;
	top: 2px !important;
}
