.common-create-wave-by-wizard, .create-wave-by-wizard, .create-wave, .add-block-button, .manage-participants-form button, .delete-from-wave, .selectBox.button-like, a.button-like, .wave-share-button, .show-more-participants, .mention-recipient-popup button, .task-recipient-popup button, :not(.range-menu) > .button,
.settings-section {
	background: linear-gradient(#F5F5F5,#F1F1F1) !important;
	box-shadow: none !important;
	border: 1px solid rgba(0,0,0,0.1) !important;
	border-radius: 2px !important;
	color: #444 !important;
}

.common-create-wave-by-wizard:not([disabled="disabled"]):hover, .create-wave-by-wizard:not([disabled="disabled"]):hover, .create-wave:not([disabled="disabled"]):hover, .add-block-button:not([disabled="disabled"]):hover, .manage-participants-form button:hover, .delete-from-wave:not([disabled="disabled"]):hover, .wave-share-button:not([disabled="disabled"]):hover, .show-more-participants:not([disabled="disabled"]):hover, .selectBox.button-like:not(.selectBox-disabled):hover, a.button-like:hover, .mention-recipient-popup button:not([disabled="disabled"]):hover, .task-recipient-popup button:not([disabled="disabled"]):hover, :not(.range-menu) > .button:not([disabled="disabled"]):hover,
.settings-section:hover {
	background: linear-gradient(#F8F8F8,#F1F1F1) !important;
	box-shadow: none !important;
	border-color: #C6C6C6 !important;
	color: #444 !important;

}
.common-create-wave-by-wizard:not([disabled="disabled"]):active, .create-wave-by-wizard:not([disabled="disabled"]):active, .create-wave:not([disabled="disabled"]):active, .add-block-button:not([disabled="disabled"]):active, .manage-participants-form button:active, .delete-from-wave:not([disabled="disabled"]):active, .wave-share-button:not([disabled="disabled"]):active, .show-more-participants:not([disabled="disabled"]):active, .selectBox.button-like:not(.selectBox-disabled):active, a.button-like:active, .mention-recipient-popup button:not([disabled="disabled"]):active, .task-recipient-popup button:not([disabled="disabled"]):active, :not(.range-menu) > .button:not([disabled="disabled"]):active,
.settings-section:active {
	background: linear-gradient(#EEE,#E0E0E0) !important;
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.1) !important;
	border-color: #CCC !important;
}

.common-create-wave-by-wizard:focus, .create-wave-by-wizard:focus, .create-wave:focus, .add-block-button:focus, .manage-participants-form button:focus, .delete-from-wave:focus, .selectBox.button-like:focus, a.button-like:focus, .wave-share-button:focus, .show-more-participants:focus, .mention-recipient-popup button:focus, .task-recipient-popup button:focus, :not(.range-menu) > .button:focus {
	border: 1px solid #4D90FE !important;
}

/* New wave/wizard button container */
.new-topic-buttons {
	border: 0 none transparent !important;
}


/* Wave panel gear button container (made to look like a button) */
.settings-section {
	margin-top: 0 !important;
}
/* Wave panel gear button */
.settings-section .show-settings-button {
	height: 19px !important;
	box-sizing: content-box !important;
	background-clip: content-box !important;
	border-style: solid !important;
	border-color: transparent !important;
	border-width: 7px 0 6px 6px !important;
	margin: -1px !important;
}


/* Search button */
.search-icon {
	background-color: #4D90FE !important;
	background: linear-gradient(#4D90FE,#4787ED) !important;
	border: 1px solid #3079ED !important;
	color: white !important;
	
	right: 0 !important;
	top: 0 !important;
	border-radius: 0 2px 2px 0 !important;
}
.search-icon::before {
	content:"";
	position: absolute;
	top: 7px;
	left: 10px;
	width: 13px;
	height: 13px;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAANCAYAAABy6+R8AAAAqElEQVQoz52RMQ7CQBADlzR5Be1F/CQFJwq+BH+howsN5AmQhj9QB8qchgIjncJdFGFpG1vetbxmAuCBFnhqWsBbDsCODwLQaYK4fcqwlngHVhFfiePnomIEoEosdNLasdAD3UT0K9DHXGHzUOTiuYl4l7HgoyLcyPAtop6qfABumkHcA9gCZcq4UdSXnnsG6uglTdKYaa8ETv8aGxmPi5mVmy4czGz5BkZfFPlpZXZNAAAAAElFTkSuQmCC);
}
.search-icon:hover {
	background-color: #357AE8 !important;
	background: linear-gradient(#4D90FE,#357AE8) !important;
	border-color: #2F5BB7 !important;
	box-shadow: 0 1px 1px rgba(0,0,0,0.1) !important;
}
.search-icon:active {
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.3) !important;
}
.search-icon:focus {
	box-shadow: inset 0 0 1px 0 white !important;
}
/* The search button for the WEG Loader for Rizzoma extension */
.insert-gadget-container .search-icon {
	height: 30px !important;
}

/* Green unread buttons */
.search .global-next-unread {
	margin-top: -30px !important;
	border-radius: 2px !important;
}
.search .global-next-unread:enabled:not(.disabled):active, .right-tools-panel .next-unread-blip:enabled:not(.disabled):active, .right-tools-panel .read-all:enabled:not(.disabled):active {
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.1) !important;
}

/* Search box drop-down menus */
.task-list-query-container .task-filter, .search-query-container .topic-filter {
	left: 2px !important;
	top: 2px !important;
}
