/* Remove shadows */
.navigation-container, .wave-container {
	box-shadow: none !important;
}
/*.wave-container {
	box-shadow: -1px 0 0 0 rgba(0,0,0,0.1) !important;
}*/

/* Replace dark gray background */
body, .tabs-container, .right-tools-panel {
	background: white !important;
}
/* Add light gray headers */
.new-topic-buttons::before, .search-header, .message-list-header, .task-list-header, .public-search-header, .market-panel-header, .resizer, .wave-header, .account-container {
	background: #F1F1F1 !important;
	border-bottom: 1px solid #ccc !important;
	box-sizing: border-box;
}
.new-topic-buttons::before {
	content: "";
	position: absolute;
	left: -10px;
	top: -10px;
	width: 79px;
	height: 50px;
	z-index: -1;
}
.account-button {
	background-color: transparent !important;
}
/* Add white search panel background */
.search-lists-container {
	background-color: white !important;
	/*border-left: 1px solid #E5E5E5;*/
}

/* Search panel */
.search-results, .message-list-results, .task-list-results, .public-search-results, .market-panel-results {
	border-top: 0 none transparent !important;
}
.search-result-item, .market-panel-result {
	border-bottom: 1px #E5E5E5 solid !important;
	background-color: rgba(243,243,243,0.85) !important;
}
.search-result-item.unread, .market-panel-result {
	background-color: white !important;
}
.search-result-item.active, .search-result-item.active .task-time-info, .task-list-container .completed-task-list .search-result-item.active .task-time-info.overdue, .market-panel-result.active {
	background-color: #F9F9E0 !important;
	color: black !important;
}
.market-panel-container .active .title {
	color: black !important;
}
.search-result-item.active .item-snippet,
.market-panel-container .active .snippet {
	color: #7D7D7D !important;
}

/* Market tabs */
.market-panel-container .market-items-filter {
	margin: 5px 2px !important;
	padding: 10px 16px !important;
	border: 0 none transparent !important;
	border-radius: 0 !important;
	background: transparent !important;
	position: relative !important;
}
.market-panel-container .market-items-filter:first-child {
	margin-left: 24px !important;
}
.market-panel-container .market-items-filter:hover {
	background-color: #CCC !important;
}
.market-panel-container .market-items-filter.pressed {
	border: 0 none transparent !important;
	background-color: transparent !important;
	color: #DD4B39 !important;
	/*font-weight: bold !important;*/
}
.market-panel-container .market-items-filter.pressed::after {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 3px;
	background-color: #DD4B39;
}
/* Left side tabs */
.tabs-container .tab,
/* Right side expand/collapse buttons */
.right-tools-panel .hide-replies, .right-tools-panel .show-replies,
/* Text/mind map view tabs */
.right-tools-panel .text-view, .right-tools-panel .mindmap-view {
	background-color: transparent !important;
	color: black !important;
	border-radius: 0 !important;
	border: 0 none transparent !important;
}
.tabs-container .tab:not(.help-tab),
.right-tools-panel .show-replies {
	position: relative !important;
}
.right-tools-panel .text-view .description, .right-tools-panel .mindmap-view .description {
	font-size: 10px !important;
	font-weight: normal !important;
}

/* Left side active tab */
.tabs-container .tab.active,
/* Text/mind map view active tab */
.right-tools-panel:not(.mindmap-view) .text-view, .mindmap-view.right-tools-panel .mindmap-view,
.right-tools-panel:not(.mindmap-view) .text-view .description, .mindmap-view.right-tools-panel .mindmap-view .description {
	background: transparent none !important;
	color: #DD4B39 !important;
	font-weight: bold !important;
}
.tabs-container .tab.active::before,
.right-tools-panel:not(.mindmap-view) .text-view::before, .mindmap-view.right-tools-panel .mindmap-view::before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	width: 4px;
	background-color: #DD4B39;
}
.tabs-container .tab:hover,
.right-tools-panel .hide-replies:hover, .right-tools-panel .show-replies:hover,
.right-tools-panel .text-view:hover, .right-tools-panel .mindmap-view:hover {
	background-color: #EEE !important;
}
.tabs-container .tab.topics {
	padding-top: 9px !important;
	margin-top: 54px !important;
	height: 80px !important;
}
.tabs-container .pict, .tabs-container .topics-pict {
	margin-top: 2px !important;
	background-position-x: -37px !important
}

.right-tools-panel .show-replies::after {
	content: "";
	position: absolute;
	left: 1px;
	right: 0;
	bottom: -4px;
	width: 100%;
	height: 1px;
	background-color: #E5E5E5;
}
