.add-participant-block .add-form, .share-section .wave-share-popup, .popup-menu-container, .ctm, .ctm .tooltip, .chrome-app-popup, .tips-video-popup, .crowd-popup, .link-popup, .widget-window, .blip-menu .other-blipmenu-container,
.selectBox-dropdown-menu.button-like-selectBox-dropdown-menu, .selectBox-dropdown-menu.add-button-select-selectBox-dropdown-menu {
	background-color: white !important;
	box-shadow: 0 2px 4px rgba(0,0,0,0.2) !important;
	border: 1px solid rgba(0,0,0,0.2) !important;
	border-radius: 0 !important;
	padding: 4px 0 !important;
}

.add-participant-block .add-form .internal-container, .manage-participants-form .internal-container, .share-section .internal-container, .popup-menu-container .internal-container, .widget-window .widget-window-body, .account-popup .internal-container, .ctm .internal-container, .ctm .tooltip .internal-container, .chrome-app-popup .internal-container, .tips-video-popup .internal-container {
	background-color: transparent !important;
	border-color: transparent !important;
}

/* Menu items */
.settings-menu a, .help-menu a, .selectBox-dropdown-menu.button-like-selectBox-dropdown-menu li a {
	color: #333 !important;
	text-shadow: none !important;
	font-size: 13px !important;
	/*padding: 2px 8em 2px 30px !important;*/
	padding: 6px 10px !important;
}
.role-selector-popup .role {
	margin: 0 !important;
	padding: 2px 10px 2px 0 !important;
}
.settings-menu a:hover, .help-menu a:hover, .role-selector-popup .role:hover, .selectBox-dropdown-menu.button-like-selectBox-dropdown-menu li a:hover {
	background-color: #EEE !important;
	color: #333 !important;
}

/* Errors, warnings, and status indicators */
.search-lists-container .status-bar, .wave-error, .wave-warning, .error-message-container, .wave-loading-indicator {
	background: #F9EDBE !important;
	border: 1px solid #F0C36D !important;
	border-radius: 2px !important;
	box-shadow: 0 2px 4px rgba(0,0,0,0.2) !important;
	color: #222 !important;
	padding: 0 10px !important;
}
.search-lists-container .status-bar {
	width: auto !important;
	left: 1% !important;
	right: 1% !important;
}

/* Text input boxes */
.add-form .internal-container .input-email, .manage-participants-form .showing-participants-id, .widget-window-body .outer-input, .text-input, .account-merge-form-container .secondary-email-input, .link-name div, .skype-id-input,
.share-section .wave-url, .copy-blip-link input,
input[type="search"], .search-query, .message-list-query, .public-search-query, .task-list-query {
	border: 1px solid !important;
	border-color: #C0C0C0 #D9D9D9 #D9D9D9 !important;
	border-radius: 0 !important;
}
.add-form:hover .internal-container .input-email:hover, .manage-participants-form .showing-participants-id:hover, .widget-window-body .outer-input:hover, .text-input:hover, .account-merge-form-container .secondary-email-input:hover, .link-name div:hover, .skype-id-input:hover,
.share-section .wave-url:hover, .copy-blip-link input:hover,
input[type="search"]:hover, .search-query:hover, .message-list-query:hover, .public-search-query:hover, .task-list-query:hover {
	border-color: #A0A0A0 #B9B9B9 #B9B9B9 !important;
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.1) !important;
}
.add-form:focus .internal-container .input-email:focus, .manage-participants-form .showing-participants-id:focus, .widget-window-body .outer-input:focus, .text-input:focus, .account-merge-form-container .secondary-email-input:focus, .link-name div:focus, .skype-id-input:focus,
.share-section .wave-url:focus, .copy-blip-link input:focus,
input[type="search"]:focus, .search-query:focus, .message-list-query:focus, .public-search-query:focus, .task-list-query:focus {
	border-color: #4D90FE !important;
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.3) !important;
}

/* The search boxes for different left tabs */
input[type="search"], .search-query, .message-list-query, .task-list-query, .public-search-query {
	height: 30px !important;
	   border-top-right-radius: 2px !important;
	border-bottom-right-radius: 2px !important;
}

/* The search box container for the WEG Loader for Rizzoma extension */
.js-internal-container > div:not(.internal-container) {
	margin-left: 4px !important;
}
